<h1>Controls</h1>

<h3>Cars</h3>

<ul>
	<li><%= link_to 'Brands', brands_path %></li>
	<li><%= link_to 'Models', models_path %></li>
	<li><%= link_to 'Cars', cars_path %></li>
</ul>

<h3>Business</h3>

<ul>
	<li><%= link_to 'Categories', categories_path %></li>
	<li><%= link_to 'Companies', companies_path %></li>
</ul>

<h3>Media</h3>

<ul>
	<li><%= link_to 'Magazines', magazines_path %></li>
	<li><%= link_to 'Videos', videos_path %></li>
</ul>

<h3>Location</h3>
<ul>
	<li><%= link_to 'Countries', countries_path %></li>
	<li><%= link_to 'States', states_path %></li>
	<li><%= link_to 'Cities', cities_path %></li>
</ul>