<div class="page-header">
  <h2>Lista de Modelos</h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Descripción</th>
    <th colspan="3">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% if @models.empty? %>
    <tr>
      <td colspan="6">Aun sin Modelos.</td>
    </tr>
    <% else %>
      <% @models.each do |model| %>
      <tr>
        <td><%= model.title %></td>
        <td><%= model.brand.title %></td>
        <td><%= model.description %></td>
        <td><%= link_to 'Mostrar', model %></td>
        <td><%= link_to 'Editar', edit_model_path(model) %></td>
        <td><%= link_to 'Eliminar', model, :method => :delete, :data => { :confirm => '¿Estas seguro?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Modelo', new_model_path, :class => "btn btn-primary" %>
