<div class="page-header">
  <h2><%= @model.title %></h2>
</div>

<p>
  <b>Marca:</b>
  <%= @model.brand.title %>
</p>

<p>
  <b>Descripción:</b>
  <%= @model.description %>
</p>

<div class="form-actions">
  <%= link_to 'Editar', edit_model_path(@model), :class => "btn" %>
  <%= link_to 'Regresar', models_path, :class => "btn" %>
</div>