<div class="page-header">
  <h2><%= @state.title %></h2>
</div>

<p>
  <b>Descripción:</b>
  <%= @state.description %>
</p>

<p>
  <b>Pais:</b>
  <%= @state.country.title %>
</p>

<div class="form-actions">
  <%= link_to 'Editar', edit_state_path(@state), :class => "btn" %>
  <%= link_to 'Regresar', states_path, :class => "btn" %>
</div>