<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation" class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@video.errors.count, "error") %> no permite que este Episodio de TV sea creado:</h4>
      <br />
      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Titulo' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Video (520x320)' %>
    <%= f.text_area :video, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label 'Descripción' %>
    <%= f.text_area :description, :rows => 9 %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
