<div class="page-header">
  <h2>Lista de Episodios de TV</h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Video</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>    
  <tbody>
    <% if @videos.empty? %>
    <tr>
      <td colspan="6">Aun sin Episodios de TV.</td>
    </tr>
    <% else %>
      <% @videos.each do |video| %>
      <tr>
      	<td><%= video.title %></td>
    		<td><%= video.description %></td> 
    		<td><%= video.video.html_safe %></td>   
    		<td><%= link_to 'Mostrar', video %></td>
    		<td><%= link_to 'Editar', edit_video_path(video) %></td>
     		<td><%= link_to 'Eliminar', video, :method => :delete, :data => { :confirm => '¿Estas seguro?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Episodio de TV', new_video_path, :class => "btn btn-primary" %>

 