<h2>TV</h2>
    
<% @videos.each do |video| %>

  <h3><%= video.title %></h3>
  <h5><%= l video.created_at, :formats => :long %></h5>
  <p><%= video.description %></p> 
  <%= video.video.html_safe %><br />    

   <%= link_to 'Show', video %> | <%= link_to 'Edit', edit_video_path(video) %> | <%= link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' } %><br />


<% end %>


<%= link_to 'New Video', new_video_path %>

 