<h2><%= @video.title %></h2>    

<h5><%= l @video.created_at, :formats => :long %></h5>
<p><%= @video.description %></p>     
<%= @video.video.html_safe %><br />
<%= link_to 'Edit', edit_video_path(@video) %> | <%= link_to 'Back', videos_path %>
