<div id="additionals">

	<div class="center">

		<div class="additional">
			<h3>Autos en venta</h3>
			<%= image_tag("210x170.jpg", :alt => "Autos en venta") %>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<h4><%= link_to "Ver Listados", page_path("autos_en_venta") %></h4>
		</div><!-- end /.additional -->

		<div class="additional">
			<h3>Autopedia&reg; revista</h3>
			<%= image_tag("210x170.jpg", :alt => "Autopedia&reg; revista") %>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<h4><%= link_to "Ver Catalogo", page_path("revista") %></h4>
		</div><!-- end /.additional -->

		<div class="additionalmap">
			<h3>Directorio</h3>
			<%= image_tag("450x170.jpg", :alt => "Directorio") %>
			<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
			<h4><%= link_to "Ver Directorio", page_path("directorio") %></h4>
		</div><!-- end /.additionalmap -->

		<div id="bottombanner">
			<ul class="rslides">
				<li><%= link_to image_tag('940x100.jpg', :alt => '940x100'), '#', :target => '_blank' %></li>
				<li><%= link_to image_tag('940x100two.jpg', :alt => '940x100'), '#', :target => '_blank' %></li>
			</ul>
		</div><!-- end /.bottombanner -->

	</div><!-- end /.center -->

</div><!-- end /#additionals -->