<div id="box1" class="optionbox">
	<header>
		<h3>Marcas disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ul>
			<li><a title="Acura" href="#">Acura</a></li>
			<li><a title="Acura" href="#">Audi</a></li>
			<li><a title="Acura" href="#">Buick</a></li>
			<li><a title="Acura" href="#">BMW</a></li>
			<li><a title="Acura" href="#">Cadillac</a></li>
			<li><a title="Acura" href="#">Citroen</a></li>
			<li><a title="Acura" href="#">Chevrolet</a></li>
			<li><a title="Acura" href="#">Chrysler</a></li>
			<li><a title="Acura" href="#">Daewoo</a></li>
			<li><a title="Acura" href="#">Datsun</a></li>
			<li><a title="Acura" href="#">Dodge</a></li>
			<li><a title="Acura" href="#">Fiat</a></li>
			<li><a title="Acura" href="#">Honda</a></li>
			<li><a title="Acura" href="#">Geo</a></li>
			<li><a title="Acura" href="#">GMC</a></li>
			<li><a title="Acura" href="#">Ford</a></li>
			<li><a title="Acura" href="#">Hummer</a></li>
			<li><a title="Acura" href="#">Hyundai</a></li>
			<li><a title="Acura" href="#">Infinity</a></li>
			<li><a title="Acura" href="#">International</a></li>
			<li><a title="Acura" href="#">Isuzu</a></li>
			<li><a title="Acura" href="#">Jeep</a></li>
			<li><a title="Acura" href="#">Kia</a></li>
			<li><a title="Acura" href="#">Land Rover</a></li>
			<li><a title="Acura" href="#">Lexus</a></li>
			<li><a title="Acura" href="#">Lincoln</a></li>
		</ul>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box2" class="optionbox">
	<header>
		<h3>Modelos disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ul>
			<li><a title="Aeromax" href="#">Aeromax</a></li>
			<li><a title="Aeromax" href="#">Aerostar</a></li>
			<li><a title="Aeromax" href="#">Bronco</a></li>
			<li><a title="Aeromax" href="#">Club Wagon</a></li>
			<li><a title="Aeromax" href="#">Contour</a></li>
			<li><a title="Aeromax" href="#">Courier</a></li>
			<li><a title="Aeromax" href="#">Crown</a></li>
			<li><a title="Aeromax" href="#">Victoria</a></li>
			<li><a title="Aeromax" href="#">E-150</a></li>
			<li><a title="Aeromax" href="#">E-250</a></li>
			<li><a title="Aeromax" href="#">E-350</a></li>
			<li><a title="Aeromax" href="#">Econoline</a></li>
			<li><a title="Aeromax" href="#">Ecosport</a></li>
			<li><a title="Aeromax" href="#">Edge</a></li>
			<li><a title="Aeromax" href="#">Escape</a></li>
			<li><a title="Aeromax" href="#">Escape Hybrid</a></li>
			<li><a title="Aeromax" href="#">Escort</a></li>
			<li><a title="Aeromax" href="#">Excursion</a></li>
			<li><a title="Aeromax" href="#">Expedition</a></li>
			<li><a title="Aeromax" href="#">Eddie Bauer</a></li>
		</ul>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box3" class="optionbox">
	<header>
		<h3>Años disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<form>
			<p>
				<label>Mínimo</label>
				<select>
					<option selected="selected">1980</option>
					<option>1990</option>
					<option>2000</option>
				</select>
			</p>
			<p>
				<label>Máximo</label>
				<select>
					<option selected="selected">2010</option>
					<option>2000</option>
					<option>1990</option>
				</select>
			</p>
		</form>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box4" class="optionbox">
	<header>
		<h3>Estatus legal</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ol>
			<li><a title="Fronterizo" href="#">Fronterizo</a></li>
			<li><a title="Americano" href="#">Americano</a></li>
			<li><a title="Titulo Limpio" href="#">Titulo Limpio</a></li>
			<li><a title="Nacional" href="#">Nacional</a></li>
			<li><a title="Salvage" href="#">Salvage</a></li>
			<li><a title="Para Partes" href="#">Para Partes</a></li>
		</ol>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box5" class="optionbox">
	<header>
		<h3>Ubicación</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<form>
			<p>
				<label>Estado</label>
				<select>
					<option selected="selected">Baja California</option>
					<option>Baja California Sur</option>
					<option>Sonora</option>
				</select>
				<span><a title="Cambio de Estado" href="#">Cambio de Estado</a></span>
			</p>
			<p>
				<label>Ciudad</label>
				<select>
					<option selected="selected">Tijuana</option>
					<option>Rosarito</option>
					<option>Ensenada</option>
				</select>
				<span><a title="Cambio de Ciudad" href="#">Cambio de Ciudad</a></span>
			</p>
			<p>
				<label>Delegación</label>
				<select>
					<option selected="selected">Playas de Tijuana</option>
					<option>Otay Universidad</option>
					<option>Zona Centro</option>
				</select>
				<span><a title="Cambio de Delegación" href="#">Cambio de Delegación</a></span>
			</p>
		</form>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box6" class="optionbox">
	<header>
		<h3>Precio</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<form>
			<p>
				<label>Mínimo</label>
				<select>
					<option selected="selected">$0.00</option>
					<option>$10.00</option>
					<option>$100.00</option>
				</select>
			</p>
			<p>
				<label>Máximo</label>
				<select>
					<option selected="selected">$10.00</option>
					<option>$100.00</option>
					<option>$1000.00</option>
				</select>
			</p>
		</form>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->