<div id="box1" class="optionbox">
	<header>
		<h3>Marcas disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ul>
			<% @brands.each do |brand| %>
                <li><%= link_to brand.title, page_path('autos_en_venta', :search => brand.title) %></li>
            <% end %>
		</ul>
	</section>
</div><!-- end /.optionbox -->

<div id="box2" class="optionbox">
	<header>
		<h3>Modelos disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ul>
			<% @models.each do |model| %>
                <li><%= link_to model.title, page_path('autos_en_venta', :search => model.title) %></li>
            <% end %>
		</ul>
	</section>
</div><!-- end /.optionbox -->

<div id="box3" class="optionbox">
	<header>
		<h3>Años disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<%= form_for page_path('autos_en_venta'), :method => :get do %>
			<p>
				<label>Mínimo</label>
				<%= select_tag :fyear, options_for_select(Car.all.map &:year) %>
			</p>
			<p>
				<label>Máximo</label>
				<%= select_tag :tyear, options_for_select(Car.all.map &:year) %>
			</p>
			<p>
				<%= submit_tag "Buscar", :name => nil %>
			</p>
		</form>
		<% end %>
	</section>
</div><!-- end /.optionbox -->

<div id="box4" class="optionbox">
	<header>
		<h3>Estatus legal</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ol>
			<% @status.each do |s| %>
                <li><%= link_to s.status, page_path('autos_en_venta', :search => s.status) %></li>
            <% end %>
		</ol>
	</section>
</div><!-- end /.optionbox -->

<div id="box5" class="optionbox">
	<header>
		<h3>Ubicación</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<%= form_for page_path('autos_en_venta'), :method => :get do %>
			<p>
				<label>Estado</label>
				<%= select_tag :fstate, options_for_select(State.all.map {|x| [ x.title, x.title ]}) %>

			</p>
			<p>
				<label>Ciudad</label>
				<%= select_tag :tcity, options_for_select(City.all.map {|x| [ x.title, x.title ]}) %>
			</p>
			<p>
				<%= submit_tag "Buscar", :name => nil %>
			</p>
		</form>
		<% end %>
	</section>
</div><!-- end /.optionbox -->

<div id="box6" class="optionbox">
	<header>
		<h3>Precio</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<%= form_for page_path('autos_en_venta'), :method => :get do %>
			<p>
				<label>Mínimo</label>
				<%= select_tag :fprice, options_for_select(Car.all.map {|x| [ number_to_currency(x.price), x.price ]}) %>

			</p>
			<p>
				<label>Máximo</label>
				<%= select_tag :tprice, options_for_select(Car.all.map {|x| [ number_to_currency(x.price), x.price ]}) %>
			</p>
			<p>
				<%= submit_tag "Buscar", :name => nil %>
			</p>
		</form>
		<% end %>
	</section>
</div><!-- end /.optionbox -->