<div id="box1" class="optionbox">
	<header>
		<h3>Marcas disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ul>
			<% @brands.each do |brand| %>
                <li><%= link_to brand.title, cars_path(:search => brand.title) %></li>
            <% end %>
		</ul>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box2" class="optionbox">
	<header>
		<h3>Modelos disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ul>
			<% @models.each do |model| %>
                <li><%= link_to model.title, cars_path(:search => model.title) %></li>
            <% end %>
		</ul>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box3" class="optionbox">
	<header>
		<h3>Años disponibles</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<%= form_for cars_path, :method => :get do %>
			<p>
				<label>Mínimo</label>
				<%= select_tag :fyear, options_for_select(Car.all.map &:year) %>
			</p>
			<p>
				<label>Máximo</label>
				<%= select_tag :tyear, options_for_select(Car.all.map &:year) %>
			</p>
			<p>
				<%= submit_tag "Buscar", :name => nil %>
			</p>
		</form>
		<% end %>
	</section>

	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box4" class="optionbox">
	<header>
		<h3>Estatus legal</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<ol>
			<li><a title="Fronterizo" href="#">Fronterizo</a></li>
			<li><a title="Americano" href="#">Americano</a></li>
			<li><a title="Titulo Limpio" href="#">Titulo Limpio</a></li>
			<li><a title="Nacional" href="#">Nacional</a></li>
			<li><a title="Salvage" href="#">Salvage</a></li>
			<li><a title="Para Partes" href="#">Para Partes</a></li>
		</ol>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box5" class="optionbox">
	<header>
		<h3>Ubicación</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<form>
			<p>
				<label>Estado</label>
				<select>
					<option selected="selected">Baja California</option>
					<option>Baja California Sur</option>
					<option>Sonora</option>
				</select>
				<span><a title="Cambio de Estado" href="#">Cambio de Estado</a></span>
			</p>
			<p>
				<label>Ciudad</label>
				<select>
					<option selected="selected">Tijuana</option>
					<option>Rosarito</option>
					<option>Ensenada</option>
				</select>
				<span><a title="Cambio de Ciudad" href="#">Cambio de Ciudad</a></span>
			</p>
			<p>
				<label>Delegación</label>
				<select>
					<option selected="selected">Playas de Tijuana</option>
					<option>Otay Universidad</option>
					<option>Zona Centro</option>
				</select>
				<span><a title="Cambio de Delegación" href="#">Cambio de Delegación</a></span>
			</p>
		</form>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->

<div id="box6" class="optionbox">
	<header>
		<h3>Precio</h3>
		<h5><%= link_to image_tag('close-optionbox.png', :alt => 'Cerrar'), '#', :class => 'cerrar' %></h5>
	</header>
	<section class="infobox">
		<form>
			<p>
				<label>Mínimo</label>
				<select>
					<option selected="selected">$0.00</option>
					<option>$10.00</option>
					<option>$100.00</option>
				</select>
			</p>
			<p>
				<label>Máximo</label>
				<select>
					<option selected="selected">$10.00</option>
					<option>$100.00</option>
					<option>$1000.00</option>
				</select>
			</p>
		</form>
	</section>
	<footer>
		<h5><a title="Reiniciar Busqueda" href="#">Reiniciar Busqueda</a></h5>
	</footer>
</div><!-- end /.optionbox -->