<div id="footer">

	<footer>

		<nav id="navbottom">
			<ul>
				<li><%= link_to "Poliza de legalidad", page_path("poliza_de_legalidad") %></li>
				<li><%= link_to "Acerca de nosotros", page_path("acerca_de_nosotros") %></li>
				<li><%= link_to "Contacto", page_path("contacto") %></li>
				<li><%= link_to "Ubicación", page_path("ubicacion") %></li>
				<li><%= link_to "Publicidad", page_path("publicidad") %></li>
			</ul>
		</nav><!-- end /#navbottom -->

		<p id="copyright">&copy; 2013 Copyright Autopedia.mx</p>

	</footer><!-- end footer -->

</div><!-- end /#footer -->