<div id="header">

	<header>

		<div id="topbar">
			<ul>
				<li><%= link_to image_tag('facebook.png', :alt => 'Facebook'), 'http://facebook.com/', :target => '_blank' %></li>
				<li><%= link_to image_tag('twitter.png', :alt => 'Twitter'), 'http://twitter.com/', :target => '_blank' %></li>
				<li>
					<form>
						<input class="search" type="text" placeholder="Buscar en Autopedia">
						<%= image_submit_tag("search-button.png", :class => 'searchbutton', :alt => 'Buscar') %>
					</form>
				</li>
			</ul>
		</div><!-- end /#topbar -->

		<div id="title">
			<h1><%= link_to image_tag('autopedia.png', :alt => 'Autopedia®'), page_path("inicio") %></h1>
		</div><!-- end /#title -->

		<div id="topbanner">
			<ul class="rslides">
			  <% Banner.find_by_width_and_height(700,100) do |b| %>
			    <% b.promotions.each do |p| %>
				  <li><%= link_to image_tag(p.promotion.url(:original)), p.address %></li>
				<% end %>
		      <% end %>
			</ul>
		</div><!-- end /#topbanner -->

		<nav>
			<ul id="nav">
				<li class="first"><%= link_to "Inicio", page_path("inicio") %></li>
				<li><%= link_to "Autos en Venta", page_path("autos_en_venta") %></li>
				<li class="first"><%= link_to "Directorio", page_path("directorio") %></li>
				<li>
					<a title="Medios" href="#">Medios <%= image_tag 'bottom-arrow.png', :alt => 'Mostrar Contenido' %></a>
					<ul class="noJS">
						<li><%= link_to "Autopedia® Revista", page_path("revista") %></li>
						<li><%= link_to "Autopedia® TV", page_path("tv") %></li>
					</ul>
				</li>
				<li class="first"><%= link_to "Certificate", page_path("certificate") %></li>
				<li>
					<a title="Contacto" href="<%= page_path("contacto") %>">Contacto <%= image_tag 'bottom-arrow.png', :alt => 'Mostrar Contenido' %></a>
					<ul class="noJS">
						<li><%= link_to "Ubicación", page_path("ubicacion") %></li>
					</ul>
				</li>
			</ul>
		</nav><!-- end /#nav -->


	</header><!-- end header -->

</div><!-- end /#header -->