<h2>Revistas</h2>
    
    <% @magazines.each do |magazine| %>
      <section>
        <%= image_tag magazine.covers.first.cover.url(:large) %>
        <h3>Revista #<%= magazine.number %></h3>
        <h4><%= magazine.title %></h4>
        <p><%= magazine.description %></p>
        <h5><%= link_to 'Descargar', magazine.covers.first.cover.url(:original), :target => '_blank' %></h5>  
        <h5><%= link_to 'Show', magazine %></h5>
        <h5><%= link_to 'Edit', edit_magazine_path(magazine) %></h5>
        <h5><%= link_to 'Destroy', magazine, :method => :delete, :data => { :confirm => 'Are you sure?' } %></h5>
      </section><!-- end /.magazine -->
      <% end %>
      <br />

      <%= link_to 'New Magazine', new_magazine_path %>
      