<h2>Revista #<%= @magazine.number %></h2>

<% for cover in @magazine.covers %> 
  <%= image_tag(cover.cover.url(:large), :alt => @magazine.title, :border => 0) %>
<% end %>  
<h4><%= @magazine.title %></h4>
<p><%= @magazine.description %></p>
<h5><%= link_to 'Descargar', @magazine.covers.first.cover.url(:original), :target => '_blank' %></h5>  
<h5><%= link_to 'Back', magazines_path %></h5>
<h5><%= link_to 'Edit', edit_magazine_path(@magazine) %></h5>