<%= form_for(@company, :html => { :multipart => true }) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation" class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h4>
      <br />
      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Categoria' %>
    <%= f.collection_select :category_id, Category.all, :id, :title, { :prompt => true } %>
  </div>
  <div class="field">
    <%= f.label 'Ciudad' %>
    <%= f.collection_select :city_id, City.all, :id, :title, { :prompt => true } %>
  </div>
  <div class="field">
    <%= f.label 'Nombre' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label class="checkbox inline">
      <%= f.check_box :warranty %> Garantia
    </label>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Dirección' %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label 'Latitud' %>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label 'Longitud' %>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <label class="checkbox inline">
      <%= f.check_box :gmaps %> Google Maps
    </label>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Teléfono' %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label 'Horario' %>
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label 'Correo Eléctronico' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Web' %>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label 'Acerca de...' %>
    <%= f.text_area :about, :rows => 9 %>
  </div>
  <div class="field">
    <%= f.label 'Misión' %>
    <%= f.text_area :mision, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label 'Visión' %>
    <%= f.text_area :vision, :rows => 6 %>
  </div>
  <div class="field">
    <%= f.label 'Adjuntar Imagenes' %>
    <%= f.fields_for :pictures do |picture_fields| %>
       <% if picture_fields.object.new_record? %>
            <p>
                 <%= picture_fields.file_field :picture %>
            </p>
       <% end %> 
    <% end %>

    <%= f.fields_for :pictures do |picture_fields| %>
       <% unless picture_fields.object.new_record? %>
            <p>
                 <%= link_to image_tag(picture_fields.object.picture.url(:thumb)), picture_fields.object.picture.url(:original) %>
                 <%= picture_fields.check_box :_destroy %>
            </p>
       <% end %> 
    <% end %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
<% end %>
