<h2>Negocios</h2>
<% @companies.each do |company| %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Categoría</th>
      <th>Nombre</th>
      <th>Garantía</th>
      <th>Acerca de...</th>
      <th>Ultima Actualización</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= company.id %></td>
      <td><%= image_tag company.pictures.first.picture.url(:thumb) %></td>
      <td><%= company.category.title %></td>
      <td><%= company.name %></td>
      <td><%= humanize_bool(company.warranty) %></td>
      <td><%= truncate(company.about, :lenght => 160, :separator => ' ') %></td>
      <td><%= l company.updated_at, :format => :short %></td>
      <td><%= link_to 'Show', company %> | <%= link_to 'Edit', edit_company_path(company) %> | <%= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= link_to 'New Company', new_company_path %>


        
