<h2><%= @company.name %></h2>

    <section>
      <ul>
        <% for picture in @company.pictures %> 
        <li><%= image_tag picture.picture.url(:large), :alt => @company.name, :border => 0 %></li>
        <% end %>  
      </ul>
    </section><!-- end /#bslide -->

    <section>
      <ul>
        <li><span>Dirección:</span> <%= @company.address %></li>
        <li><span>Ciudad:</span> <%= @company.city.title %></li>
        <li><span>Garantía:</span> <%= humanize_bool(@company.warranty) %></li>
        <li><span>Teléfono:</span> <%= @company.phone %></li>
        <li><span>Horario:</span> <%= @company.schedule %></li>
        <li><span>Correo Electrónico:</span> <%= @company.email %></li>
        <li><span>Web:</span> <%= @company.web %></li>
      </ul>
    </section><!-- end /#details -->

    <section>
      <h3>Acerca de...</h3>
      <p><%= @company.about %></p>
      <h3>Misión</h3>
      <p><%= @company.mision %></p>
      <h3>Visión</h3>
      <p><%= @company.vision %></p>
    </section><!-- end /#bdescription -->

    <section>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=220x220&sensor=false&zoom=16&markers=#{@company.latitude}%2C#{@company.longitude}" %>
    </section><!-- end /#bmap -->

     <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>
