<div class="page-header">
  <h2><%= @company.name %></h2>
</div>

<p>
  <b>Dirección:</b>
  <%= @company.address %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @company.city.title %>
</p>

<p>
  <b>Garantía:</b>
  <%= humanize_value_bool(@company.warranty) %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Horario:</b>
  <%= @company.schedule %>
</p>

<p>
  <b>Correo Electrónico:</b>
  <%= @company.email %>
</p>

<p>
  <b>Web:</b>
  <%= @company.web %>
</p>

<p>
  <b>Acerca de...</b>
  <%= @company.about %>
</p>

<p>
  <b>Misión:</b>
  <%= @company.mision %>
</p>

<p>
  <b>Visión:</b>
  <%= @company.vision %>
</p>

<% for picture in @company.pictures %> 
  <%= image_tag picture.picture.url(:large), :alt => @company.name, :border => 0 %></li>
<% end %>  
<br /><br />
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=940x220&sensor=false&zoom=16&markers=#{@company.latitude}%2C#{@company.longitude}" %>

<div class="form-actions">
  <%= link_to 'Editar', edit_company_path(@company), :class => "btn" %>
  <%= link_to 'Regresar', companies_path, :class => "btn" %>
</div>