
<div class="page-header">
  <h2><%= @brand.title %></h2>
</div>

<p>
  <b>Descripción:</b>
  <%= @brand.description %>
</p>

<p>
	<b>Logo:</b>
	<%= image_tag @brand.logo.url %>
	<%= image_tag @brand.logo.url(:medium) %>
	<%= image_tag @brand.logo.url(:thumb) %>
</p>

<div class="form-actions">
  <%= link_to 'Editar', edit_brand_path(@brand), :class => "btn" %> <%= link_to 'Regresar', brands_path, :class => "btn" %>
</div> 
