<div class="page-header">
  <h2><%= @category.title %></h2>
</div>
<p>
  <b>Descripción:</b>
  <%= @category.description %>
</p>

<p>
	<b>Icono:</b>
	<% if @category.icon? %>
	<%= image_tag @category.icon.url(:thumb) %>
	<%= image_tag @category.icon.url(:marker) %>
	<% else %>
		No hay imagen adjunta.
	<% end %>
</p>

<div class="form-actions">
  <%= link_to 'Editar', edit_category_path(@category), :class => "btn" %>
  <%= link_to 'Regresar', categories_path, :class => "btn" %>
</div>