<%= form_for(@car, :html => { :multipart => true }) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation" class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@car.errors.count, "error") %> no permite que este Auto sea creado:</h4>
      <br />
      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label 'Modelo' %>
    <%= f.collection_select :model_id, Model.all, :id, :title, { :prompt => true } %>
  </div>
  <div class="field">
    <%= f.label 'Ciudad' %>
    <%= f.collection_select :city_id, City.all, :id, :title, { :prompt => true } %>
  </div>
  <div class="field">
    <%= f.label 'Año' %>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label 'Estatus' %>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label 'Precio' %>
    <div class="input-prepend">
      <span class="add-on">$</span>
      <%= f.text_field :price %>
    </div>
  </div>
  <div class="field">
    <label class="checkbox inline">
      <%= f.check_box :new %> ¿Nuevo?
    </label>
  </div>
  <br />
  <div class="field">
    <%= f.label 'Color' %>
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label 'Interior' %>
    <%= f.text_field :interior %>
  </div>
  <div class="field">
    <%= f.label 'Transmisión' %>
    <%= f.text_field :transmission %>
  </div>
  <div class="field">
    <%= f.label 'Kilometros Recorridos' %>
    <%= f.text_field :km_miles %>
  </div>
  <div class="field">
    <%= f.label 'Video' %>
    <%= f.text_area :video, :rows => 6 %>
  </div>
  <div class="field"> 
    <%= f.label 'Nombre de Contacto' %>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label 'Correo Eléctronico' %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label 'Teléfono' %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label 'Radio' %>
    <%= f.text_field :radio %>
  </div>
  <div class="field">
    <%= f.label 'Adjuntar imagenes' %>
    <%= f.fields_for :photos do |photo_fields| %>
         <% if photo_fields.object.new_record? %>
              <p>
                   <%= photo_fields.file_field :photo %>
              </p>
         <% end %> 
    <% end %>

    <%= f.fields_for :photos do |photo_fields| %>
         <% unless photo_fields.object.new_record? %>
              <p>
                   <%= link_to image_tag(photo_fields.object.photo.url(:thumb)), photo_fields.object.photo.url(:large) %>
                   <%= photo_fields.check_box :_destroy %>
              </p>
         <% end %> 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
