<h2>Autos</h2> 
<% @cars.each do |car| %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Año</th>
      <th>Marca/Modelo</th>
      <th>Transmisión</th>
      <th>Nuevo</th>
      <th>Estatus</th>
      <th>Color</th>
      <th>Video</th>
      <th>Precio</th>
      <th>Ultima Actualización</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= car.id %></td>
      <td><%= image_tag car.photos.first.photo.url(:thumb) %></td>
      <td><%= car.year %></td>
      <td><%= car.model.brand.title %>/<%= car.model.title %></td>
      <td><%= car.transmission %></td>
      <td><%= humanize_value_bool(car.new) %></td>
      <td><%= car.status %></td>
      <td><%= car.color %></td>
      <td><%= humanize_value_bool(car.video?) %></td>
      <td><%= number_to_currency car.price %></td>
      <td><%= l car.updated_at, :format => :short %></td>
      <td><%= link_to 'Show', car %> | <%= link_to 'Edit', edit_car_path(car) %> | <%= link_to 'Destroy', car, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= link_to 'New Car', new_car_path %>






