<div class="page-header">
  <h2>Lista de Autos</h2>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Año</th>
      <th>Marca/Modelo</th>
      <th>Transmisión</th>
      <th>Estatus</th>
      <th>Color</th>
      <th>Precio</th>
      <th>Ultima Actualización</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% if @cars.empty? %>
    <tr>
      <td colspan="12">Aun sin Autos.</td>
    </tr>
    <% else %>
      <% @cars.each do |car| %>
      <tr>
        <td><%= car.id %></td>
        <td><%= image_tag car.photos.first.photo.url(:thumb), :class => "img-rounded" %></td>
        <td><%= car.year %></td>
        <td><%= car.model.brand.title %>/<%= car.model.title %></td>
        <td><%= car.transmission %></td>
        <td><%= car.status %></td>
        <td><%= car.color %></td>
        <td><%= number_to_currency car.price %></td>
        <td><%= l car.updated_at, :format => :short %></td>
        <td><%= link_to 'Mostrar', car %></td>
        <td><%= link_to 'Editar', edit_car_path(car) %></td>
        <td><%= link_to 'Eliminar', car, :method => :delete, :data => { :confirm => '¿Estas seguro?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo Auto', new_car_path, :class => "btn btn-primary" %>






