
      <h2><%= @car.year %> <%= @car.model.brand.title %> <%= @car.model.title %> (<%= humanize_car_bool(@car.new) %>)</h2>
      <ul>
        <li><span>Marca:</span> <%= @car.model.brand.title %></li>
        <li><span>Modelo:</span> <%= @car.model.title %></li>
        <li><span>Año:</span> <%= @car.year %></li>
        <li><span>Exterior:</span> <%= @car.color %></li>
        <li><span>Interior:</span> <%= @car.interior %></li>
        <li><span>Transmisión:</span> <%= @car.transmission %></li>
        <li><span>KM/Millas:</span>  <%= @car.km_miles %></li>
        <li><span>Estatus:</span> <%= @car.status %></li>
        <li><span>Precio:</span> <%= number_to_currency @car.price %> pesos</li>
      </ul>
      <h4>Contacto</h4>
      <ul>
        <li><span>Propietario:</span> <%= @car.contact_name %></li>
        <li><span>Email:</span> <a title="Email" href="mailto:<%= @car.email %>"><%= @car.email %></a></li>
        <li><span>Teléfono:</span> <%= @car.phone %></li>
        <li><span>Radio:</span> <%= @car.radio %></li>
        <li><span>Ubicación:</span> <%= @car.city.title %></li>
      </ul>
    </section><!-- end /#details -->

    <%= @car.video.html_safe %>

     <% for photo in @car.photos %> 
    <div>
      <%= link_to (image_tag photo.photo.url(:thumb), :alt => @car.model.title, :border => 0), photo.photo.url(:large), :class => 'zoom'  %>
    </div><!--end -->  
  <% end %>  

  <%= link_to 'Edit', edit_car_path(@car) %> |
  <%= link_to 'Back', cars_path %>


