<div class="page-header">
  <h2><%= @car.year %> <%= @car.model.brand.title %> <%= @car.model.title %> (<%= humanize_car_bool(@car.new) %>)</h2>
</div>

<p>
  <b>Marca:</b>
  <%= @car.model.brand.title %>
</p>

<p>
  <b>Modelo:</b>
  <%= @car.model.title %>
</p>

<p>
  <b>Año:</b>
  <%= @car.year %>
</p>
  
<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Interior:</b>
  <%= @car.interior %>
</p>

<p>
  <b>Transmisión:</b>
  <%= @car.transmission %>
</p>

<p>
  <b>Kilometros Recorridos</b>
  <%= @car.km_miles %>
</p>

<p>
  <b>Estatus:</b>
  <%= @car.status %>
</p>

<p>
  <b>Precio:</b>
  <%= number_to_currency @car.price %> pesos
</p>

<h4>Contacto</h4>

<p>
  <b>Propietario:</b>
  <%= @car.contact_name %>
</p>

<p>
  <b>Correo Eléctronico:</b>
  <a title="Email" href="mailto:<%= @car.email %>"><%= @car.email %></a>
</p>

<p>
  <b>Teléfono:</b>
  <%= @car.phone %>
</p>

<p>
  <b>Radio:</b>
  <%= @car.radio %>
</p>

<p>
  <b>Ubicación:</b>
  <%= @car.city.title %>
</p>

<%= @car.video.html_safe %>
<br />
<% for photo in @car.photos %> 
  <%= link_to (image_tag photo.photo.url(:thumb), :alt => @car.model.title, :border => 0), photo.photo.url(:large), :class => 'zoom'  %>
<% end %>  

<div class="form-actions">
  <%= link_to 'Editar', edit_car_path(@car), :class => "btn" %>
  <%= link_to 'Regresar', cars_path, :class => "btn" %>
</div>

