<!DOCTYPE html>
<html lang="es-MX">
<head>
  <title>Autopedia&reg; - <%= yield (:title) %></title>
  <%= stylesheet_link_tag "frontend", :media => "all" %>
  <%= stylesheet_link_tag "gmaps4rails", :media => "all" %>
  <%= stylesheet_link_tag "responsiveslides", :media => "all" %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Economica|Ubuntu">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'shared/header' %>

    <%= yield %>

    <%= render 'shared/additionals' %>
    <%= render 'shared/footer' %>
		<script>

      $(function() {

        //carrousel de logos
          $("#carrousel").jCarouselLite({
              btnNext: ".next",
              btnPrev: ".prev",
              auto: 1800,
            speed: 1000,
            visible: 9
            });

        //nav
        $('#nav').find('> li').hover(function(){
              $(this).find('ul')
              .removeClass('noJS')
              .stop(true, true).slideToggle('fast');
          });

          //topbanner
          $(".rslides").responsiveSlides({
              pager: true,
              namespace: "transparent-btns"
            });

          $("#warrantytrue").click(function(e){
            e.preventDefault();
            $(".warrantyfalse").fadeOut();
            $(".warrantytrue").fadeIn();
          });

          $("#warrantyfalse").click(function(e){
            e.preventDefault();
            $(".warrantytrue").fadeOut();
            $(".warrantyfalse").fadeIn();
          });

      });

    </script>
    <%= yield :scripts %>
</body>
</html>